*.cpp text eol=lf
*.cxx text eol=lf
*.c text eol=lf
*.h text eol=lf
*.hpp text eol=lf

*.pro text eol=lf
*.pri text eol=lf
*.ui text eol=lf

*.sh text eol=lf
*.bat text eol=crlf

*.py text eol=lf

*.lib -text
*.dll -text
*.so -text
*.a -text

*.png -text
*.ico -text
*.jpg -text

.gitignore text eol=lf
.gitattributes text eol=lf
